.divFinallyFalse{
    width: 100%;
    color: #5a5a5a;
    height: 72px;

    .div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.divFinallyTrue{
    width: 100%;
    color: #bbb9b9;
    height: 72px;

    .div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}