.divBioFalse{
    width: 100%;
    color: #000;
    height: 100%;

    .divWidth{
        width: 100%;
        height: 200px;
        max-width: 580px;
        margin: auto;

        .link{
            text-decoration: none;
            border-bottom: 1px solid;
            font-weight: 300;
            margin-top: 13px;

        }
        .linkh3{
            border-bottom: 1px solid;
            font-weight: 600;
            width: 90px;

        }
        .timeCarr{
            color: #5a5a5a;
            width: 245px;
            margin-top: 8px;
        }
        
        .pTextAcad{
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .pTextCarr{
            margin-top: 15px;
        }
    }
}

.divBioTrue{
    width: 100%;
    color: #fff;
    height: 100%;

    .divWidth{
        width: 100%;
        height: 200px;
        max-width: 580px;
        margin: auto;

        .link{
            text-decoration: none;
            border-bottom: 1px solid;
            font-weight: 300;
            margin-top: 13px;

        }
        .linkh3{
            border-bottom: 1px solid;
            font-weight: 600;
            width: 90px;

        }
        .timeCarr{
            color: #efefef;
            width: 245px;
            margin-top: 8px;
        }
        
        .pTextAcad{
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .pTextCarr{
            margin-top: 15px;
        }
    }
}